
:root {
  --light-background-color: #F0F8FF;
  --darker-light-background-color: #D2EAFF;
  --blue-app-color: #1640A9;
  --very-light-grey-color: #F6F6F6;
  --white-app-color: #FFFFFF;
  --black-text-color: #212121;
  --grey-text-color: #707070;
  --shadow-grey-color: #808080;
  --light-red-color: #FFF0F0;
  --green-text-color: #3A9833;
  --brown-text-color: #A95B16;
  --greyC0: #c0c0c0;
  --very-light-blue: #e7f3fc;
  --light-grey-42: #424242;
  --light-red-color-background: #FFF0F0;
  --red-color: #ff0000;
  --blue: #cbecff;
  --purple-color: #BF40BF;
  --olive-green-color: #7C933D;
  --light-grey-border: #ddebeb;
  --line-color-grey: #cae0e0;
  --grey-color75: #757575;
  --smooth-red-color: #B3404A;
  --light-brown-color: #BB8F38;
  --delete-fav-btn: #FF9292;
}
