.btnActionDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
  width: fit-content;
}

.titleBtn {
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
}

.imageBtn {
  width: 25px;
  height: 25px;
  margin-left: 15px;
}
